/* Custom color theme properties */
:root {
  --f7-theme-color: #2d964d;
  --f7-theme-color-rgb: 45, 150, 77;
  --f7-theme-color-shade: #24773d;
  --f7-theme-color-tint: #36b55d;
  --f7-toolbar-bg-color:: #fff
  --f7-bars-translucent-opacity: none;
}
/* Your app custom styles here */
p{
  margin: 0.5em 0;
}
.slider-image{
  width: 100%;
}
.voucher-slide .swiper-slide{
  width: 70%;
}
.product-title{
  text-transform: capitalize;
}
.ios-translucent-bars .toolbar{
  background-color: #ffffff;
}
.toolbar{
  background-color: #ffffff !important;
}